<h1>Login</h1>
<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Jméno</label>
      <input required ngModel name="name" #name="ngModel" type="text"  class="form-control" id="name" >
      <div class="alert alert-danger" *ngIf="name.dirty && !name.valid">
        <div *ngIf="name.errors?.['required']">*Jméno je povinné</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Heslo</label>
      <input required ngModel name="password" #password="ngModel" type="password" class="form-control" id="password">
      <div class="alert alert-danger" *ngIf="password.dirty && !password.valid">
        <div *ngIf="password.errors?.['required']">*Heslo je povinné</div>
      </div>
    </div>
    <div class="d-grid">
        <<button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid" >Zaregistrovat se</button>
    </div>
  </form>

  <a routerLink="../Register">Ještě nemáte účet? Zaregistrujte se.</a>
