<div class="col-sm-8 offset-sm-2 background-dark" id="content">
  <div class="row" id="welcome">
    <div class="col-xl-8 d-none d-xl-block" style="position: relative">
      <div
        style="
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          margin-top:5vh;
          position: absolute;
          right: 0;
          left: 0;
          ">
        <embed src="../../assets/Logo.svg" />
      </div>

      <div style="position:absolute; bottom: 0;">
        <p>
          Tento projekt je součástí předmětu praktický projekt na Obchodní
          akademii Uherské Hradiště rok 2021.
        </p>
        <p>Autoři: Jan Botek, Michal Brožovič</p>
        <p>
          Github:
          <a
            href="https://github.com/BotekJan/ChatApp"
            target="_blank"
            style="color: #8ddad3"
            >https://github.com/BotekJan/ChatApp</a
          >
        </p>
      </div>
      
    </div>
    <div class="col-xl-4" id="form">
      <login-form *ngIf="form === '/Login'"></login-form>
      <register-form *ngIf="form === '/Register'"></register-form>
    </div>
  </div>
</div>