#chatWindow{
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.103);
    height: 100%;
    padding: 2rem;
}

#messages{
    list-style-type: none;
    height: 50vh;
    overflow:hidden; 
    overflow-y:scroll;
    overflow-wrap: break-word;
}

.message{
    color:lightgray;
    width: 50%;
    margin-left: 2vh;
    margin-right: 2vh;
}

.my-message {
    color:lightskyblue;
    margin-left: auto;
    margin-right: 4vh;
    width: 50%;
}

p, a{
    color: inherit;
}