#background {
    background-image: url(/assets/background.svg);
    background-size: 100% auto;
    height: 100vh;
    }

body {
    margin: 0%;
    color: white;
    font-family: 'Nunito', sans-serif;
}

