#background {
    background-image: url(/assets/background.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    }

body {
    margin: 0%;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 0%;
    margin-block-start: 0%;
}

