@import "~bootstrap/dist/css/bootstrap.css";
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    
}

body {
    background-image: url(/assets/background.svg);
    background-size: cover;
    
    }


p, a, label, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
}


