<div class="col-sm-8 offset-sm-2 background-dark" id="content">
    <div class="row" id="home">
      <div class="col-xl-4">
          <user-panel></user-panel>
          <chat-list *ngIf="chatsPage" (pickedChat)="setCurrentChat($event)"></chat-list>
          <notification-list *ngIf="!chatsPage"></notification-list>
      </div> 
      <div class="col-xl-8">
        <!-- <chat-window *ngIf="chatsPage" [chat]="this.currentChat" [user]="'abc'"></chat-window> -->
        <notifications *ngIf="!chatsPage"></notifications>
      </div>
    </div>
  </div>
