.btn-sm, .btn-group {
margin: 5px;
margin-left: 0;
}

.btn-group{
    width: 100%;
}

.btn-sm{
    float: right;
}

#userPanel{
    border-radius: 45px;
    background-color: rgba(0, 11, 110, 0.103);
    
}