<div id="userPanel">
<h1>Name</h1>
<div id="profileButtons">
  <a class="btn btn-primary btn-sm" href="#" role="button">Edit profile</a>
  <a class="btn btn-primary btn-sm" href="#" role="button">Logout</a>
</div>
<div class="btn-group" role="group" aria-label="Chats">
      <button type="button" class="btn btn-primary">Add Friend</button>
      <button type="button" class="btn btn-primary">New Group Chat</button>
      <button type="button" class="btn btn-primary">Notifications</button>
</div>
</div>